---
const date = new Date();
---

<footer class="sticky bottom-0 w-full p-2">
  <div class="6xl:mx-auto flex justify-center">
    <a href="https://rrios.dev" target="_blank" class="text-xs">Roberto Ríos - {date.getFullYear()}</a>
  </div>
</footer>
